<#assign title> ${domain!''} </#assign> <#assign body>
<div class="container">
	<div class="page-category page-category__history">

		<div class="page_header">
			<h3>
				<span class="item_title_part0">History</span>
			</h3>
		</div>

		<div class="items-row cols-2 row-1 row-fluid">
			<div class="span6">
				<div class="item column-1">

					<!-- Icons -->

					<!-- Intro image -->


					<div class="item_content">
						<!--  title/author -->
						<div class="item_header">
							<h4 class="item_title">
								<a
									href="/joomla_47852/index.php/about-our-company/history/43-2001">
									<span class="item_title_part0">2001</span>
								</a>
							</h4>

						</div>


						<!-- info TOP -->


						<!-- Introtext -->
						<div class="item_introtext">
							<p>Curabitur elementum ultricies tristique. Nullam eu
								scelerisque felis. Phasellus id urna non lectus rutrum
								adipiscing in vehicula enim. Pellentesque felis odio, placerat
								vel varius in, vehicula eu libero. Praesent lobortis pharetra
								ligula a scelerisque. Nulla nec nisi et purus vulputate
								sagittis. Donec sed ante nec augue suscipit luctus vitae feugiat
								tellus. Nullam auctor vehicula dui, vel pulvinar quam facilisis
								vel. Sed fermentum laoreet lacus eu laoreet.</p>

						</div>

						<!-- info BOTTOM -->

						<!-- More -->
					</div>

				</div>
				<!-- end item -->
			</div>
			<!-- end spann -->
			<div class="span6">
				<div class="item column-2">

					<!-- Icons -->

					<!-- Intro image -->


					<div class="item_content">
						<!--  title/author -->
						<div class="item_header">
							<h4 class="item_title">
								<a
									href="/joomla_47852/index.php/about-our-company/history/46-2011">
									<span class="item_title_part0">2011</span>
								</a>
							</h4>

						</div>


						<!-- info TOP -->


						<!-- Introtext -->
						<div class="item_introtext">
							<p>Curabitur elementum ultricies tristique. Nullam eu
								scelerisque felis. Phasellus id urna non lectus rutrum
								adipiscing in vehicula enim. Pellentesque felis odio, placerat
								vel varius in, vehicula eu libero. Praesent lobortis pharetra
								ligula a scelerisque. Nulla nec nisi et purus vulputate
								sagittis. Donec sed ante nec augue suscipit luctus vitae feugiat
								tellus. Nullam auctor vehicula dui, vel pulvinar quam facilisis
								vel. Sed fermentum laoreet lacus eu laoreet.</p>

						</div>

						<!-- info BOTTOM -->

						<!-- More -->
					</div>

				</div>
				<!-- end item -->
			</div>
			<!-- end spann -->

		</div>
		<!-- end row -->
		<div class="items-row cols-2 row-2 row-fluid">
			<div class="span6">
				<div class="item column-1">

					<!-- Icons -->

					<!-- Intro image -->


					<div class="item_content">
						<!--  title/author -->
						<div class="item_header">
							<h4 class="item_title">
								<a
									href="/joomla_47852/index.php/about-our-company/history/44-2006">
									<span class="item_title_part0">2006</span>
								</a>
							</h4>

						</div>


						<!-- info TOP -->


						<!-- Introtext -->
						<div class="item_introtext">
							<p>Curabitur elementum ultricies tristique. Nullam eu
								scelerisque felis. Phasellus id urna non lectus rutrum
								adipiscing in vehicula enim. Pellentesque felis odio, placerat
								vel varius in, vehicula eu libero. Praesent lobortis pharetra
								ligula a scelerisque. Nulla nec nisi et purus vulputate
								sagittis. Donec sed ante nec augue suscipit luctus vitae feugiat
								tellus. Nullam auctor vehicula dui, vel pulvinar quam facilisis
								vel. Sed fermentum laoreet lacus eu laoreet.</p>

						</div>

						<!-- info BOTTOM -->

						<!-- More -->
					</div>

				</div>
				<!-- end item -->
			</div>
			<!-- end spann -->
			<div class="span6">
				<div class="item column-2">

					<!-- Icons -->

					<!-- Intro image -->


					<div class="item_content">
						<!--  title/author -->
						<div class="item_header">
							<h4 class="item_title">
								<a
									href="/joomla_47852/index.php/about-our-company/history/47-2012">
									<span class="item_title_part0">2012</span>
								</a>
							</h4>

						</div>


						<!-- info TOP -->


						<!-- Introtext -->
						<div class="item_introtext">
							<p>Curabitur elementum ultricies tristique. Nullam eu
								scelerisque felis. Phasellus id urna non lectus rutrum
								adipiscing in vehicula enim. Pellentesque felis odio, placerat
								vel varius in, vehicula eu libero. Praesent lobortis pharetra
								ligula a scelerisque. Nulla nec nisi et purus vulputate
								sagittis. Donec sed ante nec augue suscipit luctus vitae feugiat
								tellus. Nullam auctor vehicula dui, vel pulvinar quam facilisis
								vel. Sed fermentum laoreet lacus eu laoreet.</p>

						</div>

						<!-- info BOTTOM -->

						<!-- More -->
					</div>

				</div>
				<!-- end item -->
			</div>
			<!-- end spann -->

		</div>
		<!-- end row -->



	</div>

</div>
</#assign> <#include "/app/${domain}/layout/main.html" />
